
%article.article.documentation.animate-if-in-view
  %h2.headline
    Documentation

  = @link_to(@image_tag('github.png'), 'https://github.com/formslider/jquery.formslider', class: 'image')

  %ul
    %li
      =  @link_to 'Getting started', "https://github.com/formslider/jquery.formslider/blob/master/README.md"

    %li
      = @link_to 'Configuration', "https://github.com/formslider/jquery.formslider/blob/master/docs/PLUGINS.md"

    %li
      = @link_to 'Write your own plugin', "https://github.com/formslider/jquery.formslider/blob/master/docs/EXTENDING.md"

    %li
      = @link_to 'Contributing', "https://github.com/formslider/jquery.formslider/blob/master/docs/CONTRIBUTING.md"
